# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

#  intellij idea
.idea
fileSystem/walk/deleted_files.log
fileSystem/walk/deleted_gomisc.log

#  misc
firstProgram/wc/test
performance/colStats/benchresults00.txt
performance/colStats/benchresults00m.txt
performance/colStats/benchresults01m.txt
performance/colStats/benchresults02m.txt
performance/colStats/benchresults03m.txt
performance/colStats/colStats
performance/colStats/colStatsBenchmarkData.tar.gz
performance/colStats/cpu00.pprof
performance/colStats/cpu01.pprof
performance/colStats/mem00.pprof
workingFiles/mdp/README.md
workingFiles/mdp/README.md.html
workingFiles/mdp/template-fmt.html.tmpl
performance/.DS_Store
